<!doctype html>
<html lang="es">

<head>
  <title>Alumnos</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- Íconos de Bootstrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

  <!-- ÍCONOS FONTAWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

  <div class="container mt-3">
    <div class="card">
      <div class="card-header bg-primary text-light">
        <div class="row">
          <div class="col-md-6">
            <strong>LISTADO DE ALUMNOS</strong>
          </div>
          <div class="col-md-6 text-end">
            <button class="btn btn-success btn-sm" id="abrir-modal" data-bs-toggle="modal" data-bs-target="#modal-registro-alumnos"><i class="fa-solid fa-folder-plus"></i> Registrar alumno</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
        <table class="table table-sm table-striped" id="tabla-alumnos">
          <colgroup> <!-- Permite ordenar las tablas-->
            <col width = "3%">
            <col width = "10%">
            <col width = "12%">
            <col width = "9%">
            <col width = "11%">
            <col width = "9%">
            <col width = "18%">
            <col width = "12%">
            <col width = "7%">
            <col width = "8%">
          </colgroup>
          <thead>
            <tr>
              <th>#</th>
              <th>Apellidos</th>
              <th>Nombres</th>
              <th>Dni</th>
              <th>Correo</th>
              <th>Télefono</th>
              <th>Dirección</th>
              <th>Carrera</th>
              <th>Semestre</th>
              <th>Eliminar/Editar</th>
            </tr>
          </thead>
          <!-- DATOS DE PRUEBA -->
          <tbody>
          </tbody> <!-- FIN DE DATOS PRUEBA-->
        </table>
      </div>
    </div>
    <div class="card-footer text-end">
        <button class="btn btn-warning btn-sm" id="actualizar">Actualizar alumnos</button>
    </div>
  </div>
</div> <!-- FIN DEL CONTAINER -->

  <!-- ZONA DE MODAL -->
  <div class="modal fade" id="modal-registro-alumnos" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header bg-secondary text-light">
          <h5 class="modal-title" id="modalTitleId">Registro alumnos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" id="formulario-alumnos" novalidate>
            <div class="mb-3">
              <!-- CAMPO DE APELLIDOS -->
              <label for="apellidos" class="form-label">Apellidos</label>
              <input type="text" class="form-control form-control-sm" id="apellidos" required>
            </div>
            
            <!-- CAMPO DE NOMBRES -->
            <div class="mb-3">
              <label for="nombres" class="form-label">Nombres</label>
              <input type="text" class="form-control form-control-sm" id="nombres" required>
            </div>
            
            <!-- CAMPO DE DNI -->
            <div class="mb-3">
              <label for="dni" class="form-label">Dni</label>
              <input type="text" class="form-control form-control-sm" id="dni" required>
            </div>
            
            <!-- CAMPO DE CORREO -->
            <div class="mb-3">
              <label for="correo" class="form-label">Correo</label>
              <input type="text" class="form-control form-control-sm" id="correo" required>
            </div>

            <!-- CAMPO DE TELÉFONO -->
            <div class="mb-3">
              <label for="telefono" class="form-label">Celular</label>
              <input type="text" class="form-control form-control-sm" id="telefono" required>
            </div>
            
            <!-- CAMPO DE DIRECCIÓN -->
            <div class="mb-3">
              <label for="direccion" class="form-label">Dirección</label>
              <input type="text" class="form-control form-control-sm" id="direccion" required>
            </div>
            
            <!-- CAMPO DE NOMBRE DE LA CARRERA -->
            <div class="mb-3">
              <label for="nombrecarrera" class="form-label">Carrera</label>
              <select id="nombrecarrera" class="form-select form-select-sm" required>
                <option value="">Seleccione</option>
                <option value="Ing Software con IA">Ing Software con IA</option>
                <option value="Diseño Gráfico Digital">Diseño Gráfico Digital</option>
                <option value="Administración Industrial">Administración Industrial</option>
                <option value="Administración de Empresas">Administración de Empresas</option>
                <option value="Mecánico Mantenimiento">Mecánico Mantenimiento</option>
              </select>
            </div>
            
            <!-- CAMPO DE NIVEL ACADÉMICO -->
            <div class="mb-3">
              <label for="nivelacademico" class="form-label">Semestre</label>
              <select id="nivelacademico" class="form-select form-select-sm" required>
                <option value="">Seleccione</option>
                <option value="1">Semestre 1</option>
                <option value="2">Semestre 2</option>
                <option value="3">Semestre 3</option>
                <option value="4">Semestre 4</option>
                <option value="5">Semestre 5</option>
                <option value="6">Semestre 6</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" data-bs-dismiss="modal"><i class="fa-solid fa-circle-xmark"></i> Cerrar</button>
          <button type="submit" class="btn btn-outline-success btn-sm" id="guardar-alumno"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
          
        </div>
      </div>
    </div>
  </div>

  <!-- FIN DE LA ZONA DEL MODAL -->

   <!-- ZONA DE MODAL EDITAR ALUMNOS (UPDATE) -->
   <div class="modal fade" id="modal-editar-alumnos" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header bg-secondary text-light">
          <h5 class="modal-title" id="modalTitleId">Modificación alumnos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" id="formulario-alumnos" novalidate>
            <div class="mb-3">
              <!-- CAMPO DE APELLIDOS -->
              <label for="apellidos" class="form-label">Apellidos</label>
              <input type="text" class="form-control form-control-sm" id="apellidos-editar" required>
            </div>
            
            <!-- CAMPO DE NOMBRES -->
            <div class="mb-3">
              <label for="nombres" class="form-label">Nombres</label>
              <input type="text" class="form-control form-control-sm" id="nombres-editar" required>
            </div>
            
            <!-- CAMPO DE DNI -->
            <div class="mb-3">
              <label for="dni" class="form-label">Dni</label>
              <input type="text" class="form-control form-control-sm" id="dni-editar" required>
            </div>
            
            <!-- CAMPO DE CORREO -->
            <div class="mb-3">
              <label for="correo" class="form-label">Correo</label>
              <input type="text" class="form-control form-control-sm" id="correo-editar" required>
            </div>


            <!-- CAMPO DE TELÉFONO -->
            <div class="mb-3">
              <label for="telefono" class="form-label">Celular</label>
              <input type="text" class="form-control form-control-sm" id="telefono-editar" required>
            </div>
            
            <!-- CAMPO DE DIRECCIÓN -->
            <div class="mb-3">
              <label for="direccion" class="form-label">Dirección</label>
              <input type="text" class="form-control form-control-sm" id="direccion-editar" required>
            </div>
            
            <!-- CAMPO DE NOMBRE DE LA CARRERA -->
            <div class="mb-3">
              <label for="nombrecarrera-editar" class="form-label">Carrera</label>
              <select id="nombrecarrera-editar" class="form-select form-select-sm" required>
                <option value="">Seleccione</option>
                <option value="Ing Software con IA">Ing Software con IA</option>
                <option value="Diseño Gráfico Digital">Diseño Gráfico Digital</option>
                <option value="Administración Industrial">Administración Industrial</option>
                <option value="Administración de Empresas">Administración de Empresas</option>
                <option value="Mecánico Mantenimiento">Mecánico Mantenimiento</option>
              </select>
            </div>
            
            <!-- CAMPO DE NIVEL ACADÉMICO -->
            <div class="mb-3">
              <label for="nivelacademico-editar" class="form-label">Semestre</label>
              <select id="nivelacademico-editar" class="form-select form-select-sm" required>
                <option value="">Seleccione</option>
                <option value="1">Semestre 1</option>
                <option value="2">Semestre 2</option>
                <option value="3">Semestre 3</option>
                <option value="4">Semestre 4</option>
                <option value="5">Semestre 5</option>
                <option value="6">Semestre 6</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" data-bs-dismiss="modal"><i class="fa-solid fa-circle-xmark"></i> Cerrar</button>
          <button type="submit" class="btn btn-outline-success btn-sm" id="guardar-alumno-editado"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
          
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>

  <!-- jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <script>
    $(document).ready(function (){

      function mostrarAlumnos(){
        $.ajax({
          url: '../controllers/alumno.controller.php',
          type: 'POST',
          data: {operacion: 'listar'},
          dataType: 'text',
          success: function(result){
            $("#tabla-alumnos tbody").html(result);
          }
        });
      }

      // Registrar un curso
      function registrarAlumnos(){
    // Validar campos de formulario
      const apellidos       = $("#apellidos").val();
      const nombres         = $("#nombres").val();
      const dni             = $("#dni").val();
      const correo          = $("#correo").val();
      const telefono        = $("#telefono").val();
      const direccion       = $("#direccion").val();
      const nombrecarrera   = $("#nombrecarrera").val();
      const nivelacademico  = $("#nivelacademico").val();

  if (!apellidos || !nombres || !dni || !correo || !telefono || !direccion || !nombrecarrera || !nivelacademico) {
    alert('Por favor, complete todos los campos');
    return;
  }

  // Si se han completado todos los campos, se procede a registrar el alumno
  if(confirm("¿Está seguro de registrar a este nuevo alumno?")){
    $.ajax({
      url: '../controllers/alumno.controller.php',
      type: 'POST',
      data: {
        operacion         : 'registrar',
        apellidos         : apellidos,
        nombres           : nombres,
        dni               : dni,
        correo            : correo,
        telefono          : telefono,
        direccion         : direccion,
        nombrecarrera     : nombrecarrera,
        nivelacademico    : nivelacademico
      },
      success: function(result){
        if (result == ""){
          // Reiniciar el formulario
          $("#formulario-alumnos")[0].reset();
          
          
          // Actualizar la tabla
          mostrarAlumnos();

          // Cerrar el modal
          $("#modal-registro-alumnos").modal('hide');
        }
      }
    });
  }
}

      //Evento
      $("#guardar-alumno").click(registrarAlumnos);

      //MODIFICAR
      $("#tabla-alumnos tbody").on("click", ".editar", function(){
    if(confirm("¿Está seguro de modificar datos del alumno?")){
        $.ajax({
            url: '../controllers/alumno.controller.php',
            type: 'POST',
            data: {
                operacion         : 'modificar',
                apellidos         : $("#apellidos-editar").val(),
                nombres           : $("#nombres-editar").val(),
                dni               : $("#dni-editar").val(),
                correo            : $("#correo-editar").val(),
                telefono          : $("#telefono-editar").val(),
                direccion         : $("#direccion-editar").val(),
                nombrecarrera     : $("#nombrecarrera-editar").val(),
                nivelacademico    : $("#nivelacademico-editar").val()
            },
            success: function(result){
                if (result == ''){
                    $("#formulario-alumnos")[0].reset();
                    mostrarAlumnos();
                    $("#modal-editar-alumnos").modal('hide');
                }
            }
        });
        $('#modal-editar-alumnos').modal('show'); // agrega esta línea para mostrar el modal
    }
});

      // Al pulsar click sobre el botón ROJO, se elimine el registro
      // Detectaremos eventos de losobjetos creados de manera asíncrona en...
     $("#tabla-alumnos tbody").on("click", ".eliminar", function(){
      const idalumnoEliminar = $(this).data("idalumno");
      if (confirm("¿Está seguro de proceder?")){
        $.ajax({
          url: '../controllers/alumno.controller.php',
          type: 'POST',
          data: {
            operacion : 'eliminar',
            idalumno   : idalumnoEliminar
          },
          success: function(result){
            if(result == ""){
              mostrarAlumnos();
            }
          }
        });
      }
     });

     

      // Ejecución automática
      mostrarAlumnos();

    });
  </script>

</body>

</html>